input-text {
  display: inline;
  margin: 0;
  border: none;
  border-radius: 0.4rem;
  padding: 10px;
}
.list ul li button {
  position: absolute;
  right: 0%;
background: #f34541;
  color: #fff !important;
  text-transform: uppercase;
}
